body {
  font-family: "Open Sans", sans-serif;
}

.navbar-dark {
  background-color: #6e2222;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-btn {
  background-color: #6e2222;
  border-color: #6e2222;
  font-family: "Open Sans", sans-serif;
}
.dropdown-menu {
  background-color: #555; 
}

.dropdown-item {
  color: #fff;
}

.dropdown-item a {
  color:#6e2222
}

.login-btn {
  color: #fff;
  border-color: #fff;
}


