body {
  font-family: "Open Sans", sans-serif;
}

.navbar-dark {
  background-color: #6e2222;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.dropdown-btn {
  background-color: #6e2222;
  border-color: #6e2222;
  font-family: "Open Sans", sans-serif;
}
.dropdown-menu {
  background-color: #555; 
}

.dropdown-item {
  color: #fff;
}

.dropdown-item a:hover {
  color:#6e2222
}

.login-btn {
  color: #fff;
  border-color: #fff;
}

.nav-link i:hover {
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  background-color: #6e2222;
  padding: 20px 0; }

footer p {
  margin-bottom: 0;
  color: #fff; }

section img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  text-align: center; }

.section-images {
  position: relative; }

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px; }
  
  .title h1 {
    font-size: 4.5rem;
    color: #fff; }
